@use "../../styles/variables.scss" as *;

.category {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: 'Inter';
}

.category__list {
    display: flex;
    gap: 12px;
    margin-block: 40px 0;
    padding-left: 0;
    list-style: none;

    @media (max-width: $width-mobile-album) {
        gap: 8px;
    }
}

.category__item {
    position: relative;
    min-width: 132px;

    @media (max-width: $width-mobile-album) {
        min-width: 101px;
    }
}

.category__button {
    display: block;
    padding-inline-start: 12px;
    padding-inline-end: 27px;
    width: 100%;
    padding-block: 14px;
    line-height: 100%;
    border-radius: 4px;
    background-color: $base-blue;
    font-family: 'Inter';
    font-weight: 500;
    font-size: $sm-text-desktop-font;
    color: $base-white;
    text-align: left;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;

    @media (max-width: $width-mobile-album) {
        font-size:$text-mobile-category;
        padding-inline-start: 9px;
        padding-inline-end: 23px;
        font-weight: 400;
    }
}

.category__button--push {
    background-color: $additional-blue;
    color: $base-dark;
}

.category__button-arrow::after {
    content: '';
    position: absolute;
    top: 40%;
    right: 12px;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    border-bottom: $base-white solid 2px;
    border-right: $base-white solid 2px;
    transition: all 0.3s ease-in-out;

    @media (max-width: $width-mobile-album) {
        right: 8px;
        width: 6px;
        height: 6px;
    }
}

.category__button-arrow--push::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 12px;
    width: 8px;
    height: 8px;
    transform: rotate(225deg);
    border-bottom: $base-dark solid 2px;
    border-right: $base-dark solid 2px;
    transition: all 0.3s ease-in-out;

    @media (max-width: $width-mobile-album) {
        right: 8px;
        width: 6px;
        height: 6px;
        top: 48%;
    }
}

.category__item:hover .category__button-arrow::after {
    border-bottom: $base-dark solid 2px;
    border-right: $base-dark solid 2px;
}

.category__button:hover,
.category__button:focus {
    color: $base-black;
    background-color: $base-white-alpha;
    box-shadow: 0px 3px 8px 0px rgba(255, 255, 255, 0.3);
}

.category__sublist {
    position: absolute;
    z-index: 1;
    margin: 0;
    top: 50px;
    width: 100%;
    list-style: none;
    padding-inline: 12px;
    background-color: $base-white;
    border: $additional-blue solid 1px;
    border-radius: 4px;
    display: none;
}

.category__sublist--visible {
    display: block;
}

.category__sublist--item {
    text-align: left;
    padding-block: 12px;
    position: relative;
    line-height: 1;
    cursor: pointer;

    @media(max-width: $width-mobile-album) {
        padding-block: 10px;
    }
}

.category__sublist > .category__sublist--item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 100%;
    right: -8px;
    left: -8px;
    border-bottom: #D7D7F9 solid 1px;
}

.category__sublist--link {
    display: block;
    height: 100%;
    font-family: Inter;
    color: $base-dark;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;

    @media (max-width: $width-mobile-album) {
        font-size: 12px;
        font-weight: 400;
    }
}

.category__sublist--item:hover .category__sublist--link {
    color: #6767CB;
}

.category__additional {
    display: flex;
    justify-content: center;
}

.category__item--center {
    width: 164px;
    text-decoration: none;
    text-align: center;
    
    @media (max-width: $width-mobile-album) {
        width: 127px;
    }
}