$width-mobile: 320px;
$width-mobile-container: 290px;
$padding-mobile: 15px;
$text-mobile-font: 18px;
$text-mobile-line: 28px;
$sm-text-mobile-font: 15px;
$sm-text-mobile-line: 25px;
$big-text-mobile-font: 20px;
$big-text-mobile-line: 30px;
$h1-mobile-font: 32px;
$h1-mobile-line: 50px;
$h2-mobile-font: 32px;
$h2-mobile-line: 40px;
$h3-mobile-font: 26px;
$h3-mobile-line: 36px;
$h4-mobile-font: 21px;
$h4-mobile-line: 31px;
$h5-mobile-font: 18px;
$h5-mobile-line: 28px;
$h6-mobile-font: 15px;
$h6-mobile-line: 25px;
$width-mobile-album: 568px;
$width-mobile-album-container: 546px;
$width-tablet: 764px;
$width-tablet-container: 704px;
$text-tablet-font: 18px;
$text-tablet-line: 28px;
$sm-text-tablet-font: 15px;
$sm-text-tablet-line: 25px;
$h1-tablet-font: 40px;
$h1-tablet-line: 56px;
$h2-tablet-font: 32px;
$h2-tablet-line: 40px;
$h3-tablet-font: 26px;
$h3-tablet-line: 36px;
$h4-tablet-font: 21px;
$h4-tablet-line: 31px;
$h5-tablet-font: 18px;
$h5-tablet-line: 28px;
$h6-tablet-font: 15px;
$h6-tablet-line: 25px;
$width-tablet-album: 940px;
$width-tablet-album-container: 910px;
$width-desktop: 1180px;
$width-desktop-container: 1120px;
$text-desktop-font: 20px;
$text-desktop-line: 30px;
$sm-text-desktop-font: 16px;
$sm-text-desktop-line: 26px;
$big-text-desktop-font: 26px;
$big-text-desktop-line: 36px;
$h1-desktop-font: 46px;
$h1-desktop-line: 64px;
$h2-desktop-font: 36px;
$h2-desktop-line: 44px;
$h3-desktop-font: 30px;
$h3-desktop-line: 40px;
$h4-desktop-font: 24px;
$h4-desktop-line: 34px;
$h5-desktop-font: 20px;
$h5-desktop-line: 30px;
$h6-desktop-font: 16px;
$h6-desktop-line: 26px;


// COLORS

$base-wrong: #FFEEED;
$base-wrong-dark-33: #CC433D33;

$base-black: #13133A;
$base-black-alpha: #00000040;
$base-black-alpha-10: #00000010;
$base-black-alpha-9: #00000090;
$base-overlay: #000000dd;
$base-dark: #333333;
$base-darker: #13133A;
$base-grey: #888888;
$base-white: #ffffff;
$base-white-alpha: #ffffffcc;
$base-white-alpha-33: #ffffff33;
$base-white-alpha-6: #ffffff60;
$base-white-alpha-9: #ffffff90;

$base-action-color: #ffd52e;
$base-action-hover-color: #ffe32e;
$base-action-brown: #665533;
$base-action-brown-alpha-3: #66553330;
$base-blue: #32328E;

$cookies-bg: #8298B7;
$cookies-shadow: 0px 10px 10px #2E75E633;

$additional-red: #ff564e;
$additional-green: #38c976;
$additional-orange: #ffaa00;

$gap-mobile: 8px;
$gap-2-mobile: 8px*2;
$gap-3-mobile: 8px*3;

$gap-tablet: 30px;
$gap-2-tablet: 30px*2;

$break-x-small: 40px;
$break-small: 60px;
$break: 90px;
$break-big: 120px;

$env: 'development' !default;
