@use "../../styles/variables.scss" as *;

.advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 62px;
    padding: 0;

    @media (max-width: $width-tablet) {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.advantages__item {
    display: flex;
}

.advantages__item--img {
    min-width: 100px;
    object-fit: contain;
    aspect-ratio: 1/1;
}

.advantages__item--description {
    display: flex;
    flex-direction: column;
    font-family: Inter;
}

.advantages__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: #13133A;
    padding: 8px;
    margin: 0;

    @media (max-width: $width-tablet) {
        font-size: 15px;
    }

}

.advantages__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    color: rgb(19, 19, 58, 0.8);
    padding-inline: 8px;
    padding-block: 4px;
    margin: 0;
    
    @media (max-width: $width-tablet) {
        font-size: 13px;
    }
}