<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.scss">
  <!-- <link rel="stylesheet" href="/css/style.min.css"> -->
  <title>ДомБаня - Главная</title>
</head>
<body class="pageBody">

<!-- {% extends "common.html" %}

{% block head %}

{% endblock head%}

{% block title %}Дом Баня - Политика конфиденциальности{% endblock %}

{% block content %} -->

<section class="grid">
  <article class="grid__article">
    <div class="grid__element grid__element--wide grid__element--marginBottom-medium">
      <h1 class="heading heading--h1">Политика конфиденциальности для веб-сайта Дом-Баня</h1>
      <p class="text text--sm"><em>Дата редакции: 16 октября 2025 г.</em></p>

      <h2 class="heading heading--h2 heading--paddingTop-30">1. ОПРЕДЕЛЕНИЕ ПОНЯТИЙ</h2>
      <p class="text text--sm">"<strong>Закон</strong>" означает Федеральный закон Российской Федерации "О персональных данных" со всеми изменениями и дополнениями, а также иные законодательные акты Российской Федерации.</p>
      <p class="text text--sm">"<strong>Сайт</strong>" означает информационную единицу в Интернете, ресурс из веб-страниц (документов), которые объединены общей темой и связаны между друг с другом с помощью ссылок. Он зарегистрирован на Правообладателя и обязательно привязан к конкретному домену, являющемуся его адресом. Настоящая Политика разработана для следующего сайта: <span id="span_id_линк_сайт">domizkleenogobrusa.ru</span></p>
      <p class="text text--sm">"<strong>Персональные данные</strong>" означает любую информацию, относящуюся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных), включая IP-адреса, данные об устройстве, файлы cookie и иную информацию, позволяющую идентифицировать пользователя.</p>
      <p class="text text--sm">"<strong>Политика</strong>" означает настоящую Политику конфиденциальности для веб-сайта (со всеми существующими дополнениями и изменениями).</p>
      <p class="text text--sm">"<strong>Пользователь</strong>" означает юридическое или физическое лицо, которое пользуется Сайтом и/или получило к нему доступ с какого-либо устройства.</p>
      <p class="text text--sm">"<strong>Пользовательское соглашение</strong>" означает соглашение, заключаемое между Правообладателем и Пользователем в отношении порядка, правил и особенностей использования Сайта. Пользователь присоединяется к такому соглашению и не имеет права вносить и/или требовать внесения в него каких-либо изменений или дополнений.</p>
      <p class="text text--sm">"<strong>Правообладатель</strong>" означает следующее лицо, на имя которого зарегистрирован Сайт:</p>
      <p class="text text--sm"><em>ИП [Асланов Степан Арутюнович]<br>
      ОГРНИП: 321508100153165<br><br>
      Адрес: Россия, г. Москва, "Конструктор", МКАД 25-й км, Выставочный дом 1.8.<br>
      Контактные данные: kirovdt@mail.ru, тел.: 8-985-760-15-34</em></p>
      <p class="text text--sm">"<strong>Файлы куки</strong>" означает небольшие файлы, отправляемые каким-либо сайтом, и размещаемые на компьютерах, смартфонах, планшетах, часах и других мобильных устройствах Пользователя, для улучшения работы сайтов, а также качества размещенного в них контента.</p>

      <h2 class="heading heading--h2 heading--paddingTop-30">2. ОТНОШЕНИЯ, НА КОТОРЫЕ РАСПРОСТРАНЯЕТСЯ ПОЛИТИКА</h2>
      <p class="text text--sm"><strong>Общие положения</strong></p>
      <p class="text text--sm">Данная Политика используется и применима исключительно к Персональным данным, получаемым от Пользователя в связи с использованием им Сайта. Положения данной Политики направлены на:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>определение видов и типов получаемых Персональных данных, направлений и целей использования (обработки) Персональных данных, а также источников получения таких Персональных данных;</li>
        <li>определение прав Пользователя в отношении защиты конфиденциальности передаваемых им Персональных данных;</li>
        <li>определение лиц, ответственных за обработку и хранение Персональных данных, а также третьих лиц, которым такие данные раскрываются (полностью или частично).</li>
      </ol>
      <p class="text text--sm">Правила настоящей Политики не применяются в случае обработки третьими лицами Персональных данных, которые добровольно предоставляются Пользователем.</p>
      <p class="text text--sm">Использование Сайта означает согласие с условиями данной Политики только в части технически необходимых файлов cookie. Для обработки аналитических и маркетинговых персональных данных требуется отдельное согласие, получаемое через специальный баннер на сайте.</p>
      <p class="text text--sm">Если Пользователь не согласен с условиями Политики и/или отдельные условия Политики ему не понятны, в таком случае Пользователь обязан немедленно прекратить использование Сайта.</p>
      <p class="text text--sm"><strong>Права пользователя по защите персональных данных</strong></p>
      <p class="text text--sm">В связи с предоставлением Персональных данных Пользователь автоматически получает следующие права:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>получать данные, касающиеся их обработки (основания и цели такой обработки, применяемые способы обработки, сведения о лицах, которые имеют доступ к ним или которым они могут быть раскрыты на основании договора или Закона);</li>
        <li>получать данные о месте нахождения и идентификационных данных лиц, совершающих обработку Персональных данных;</li>
        <li>получать данные о сроках хранения Персональных данных;</li>
        <li>получать данные об осуществленной или о предполагаемой трансграничной передаче Персональных данных;</li>
        <li>отзывать согласие на обработку персональных данных;</li>
        <li>обжаловать действия или бездействие Правообладателя в уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке;</li>
        <li>получать возмещение убытков и/или компенсацию морального вреда в судебном порядке в следствие допущенных Правообладателем и/или третьими лицами нарушений прав Пользователя на охрану и защиту его Персональных данных;</li>
        <li>реализовывать иные права в области защиты персональных данных, предусмотренные Законом или положениями данной Политики.</li>
      </ol>

      <h2 class="heading heading--h2 heading--paddingTop-30">3. ПЕРЕЧЕНЬ СОБИРАЕМЫХ ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
      <p class="text text--sm"><strong>Автоматически собираемые персональные данные</strong></p>
      <p class="text text--sm">В связи с использованием Сайта Правообладатель автоматически собирает и обрабатывает следующие персональные данные о Пользователе:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>IP-адрес;</li>
        <li>информацию об устройстве (идентификационный номер устройства, операционная система, платформа, тип браузера и другая информация о браузере);</li>
        <li>информацию о трафике, возможном количестве совершенных кликов, логи и другие данные о поведении на сайте.</li>
      </ol>
      <p class="text text--sm"><strong>Персональные данные, предоставляемые добровольно</strong></p>
      <p class="text text--sm">При заполнении форм обратной связи Пользователь может предоставить следующие данные:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>адрес электронной почты;</li>
        <li>номер телефона;</li>
        <li>иные контактные данные.</li>
      </ol>
      <p class="text text--sm"><strong>Использование файлов куки</strong></p>
      <p class="text text--sm">Сайт применяет определенные Файлы куки для сохранения IP-адреса, предпочтений Пользователей или типа используемого устройства с целью:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>обеспечения технического функционирования сайта;</li>
        <li>ведения статистики посещений и трафика сайта;</li>
        <li>персонализации выводимых на экран Пользователя данных;</li>
        <li>сохранения данных, необходимых для идентификации Пользователя, в том числе при доступе с разных устройств.</li>
      </ol>
      <p class="text text--sm">Сайт использует следующие Файлы куки:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li><em>Технические (функциональные) Файлы куки</em>, которые необходимы для контроля трафика и передачи данных, для идентификации Пользователей и предоставления доступа Пользователю к контенту и без которых использование Сайта является функционально ограниченным;</li>
        <li><em>Статистические Файлы куки</em>, которые используются для отслеживания частоты посещаемости сайта Пользователями, для выявления способов использования Сайта, а также для выявления типа и вида контента, который является популярным или интересным для Пользователя. Данные файлы устанавливаются только после получения согласия Пользователя.</li>
      </ol>
      <p class="text text--sm">Пользователь имеет право в любой момент отключить Файлы куки путем изменения определенных настроек в своем браузере или через настройки согласия на сайте. Такое отключение не влечет за собой ограничение или изменение доступа Пользователя к функциональным возможностям Сайта и/или его контенту.</p>
      <p class="text text--sm">Инструкции по отключению файлов куки:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>Google Chrome: Настройки → Конфиденциальность и безопасность → Файлы cookie и данные сайтов</li>
        <li>Mozilla Firefox: Настройки → Приватность и защита → Файлы cookie и данные сайтов</li>
        <li>Safari: Настройки → Конфиденциальность → Файлы cookie и данные веб-сайтов</li>
        <li>Microsoft Edge: Настройки → Файлы cookie и разрешения сайтов</li>
      </ol>

      <h2 class="heading heading--h2 heading--paddingTop-30">4. ЦЕЛИ СБОРА И ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
      <p class="text text--sm"><strong>Определение целей обработки</strong></p>
      <p class="text text--sm">Сбор и обработка Персональных данных осуществляется в следующих целях:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>для оперативной и корректной работы Сайта, улучшения его функциональности и контента;</li>
        <li>для соблюдения требований Закона;</li>
        <li>для технической поддержки Сайта, выявления проблем в его работе и их устранения;</li>
        <li>для поддержания связи с Пользователем (коммуникация);</li>
        <li>для выполнения иных обязательств Правообладателя, которые возникли перед Пользователем;</li>
        <li>для проведения статистических исследований и анализа поведения Пользователя (только при наличии согласия);</li>
        <li>для любых других целей, при условии получения отдельного согласия от Пользователя.</li>
      </ol>
      <p class="text text--sm"><strong>Правовые основания обработки</strong></p>
      <p class="text text--sm">Обработка Персональных данных осуществляется на основании:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>согласия субъекта персональных данных;</li>
        <li>необходимости исполнения договора, стороной которого является субъект персональных данных;</li>
        <li>необходимости для выполнения возложенных законодательством РФ функций;</li>
        <li>необходимости для осуществления и защиты прав и законных интересов оператора или третьих лиц либо для достижения общественно значимых целей.</li>
      </ol>
      <p class="text text--sm">Обработка Персональных данных осуществляется на основе принципов:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>законности целей и способов обработки;</li>
        <li>добросовестности;</li>
        <li>соответствия объема и характера обрабатываемых Персональных данных заявленным целям их обработки;</li>
        <li>достоверности персональных данных.</li>
      </ol>
      <p class="text text--sm"><strong>Условия обработки персональных данных</strong></p>
      <p class="text text--sm">В случае обезличивания Персональных данных, что не позволяет прямо или опосредованно определить Пользователя, последующее использование и раскрытие таких данных третьим лицам допускается в соответствии с политиками указанных третьих лиц.</p>
      <p class="text text--sm">Правообладатель принимает все возможные меры для защиты конфиденциальности полученных Персональных данных, за исключением случаев, когда Пользователь сделал такие данные общедоступными.</p>
      <p class="text text--sm">Обработка Персональных данных осуществляется с использованием средств автоматизации и без использования таких средств автоматизации.</p>

      <h2 class="heading heading--h2 heading--paddingTop-30">5. ДОСТУП ТРЕТЬИХ ЛИЦ К ПЕРСОНАЛЬНЫМ ДАННЫМ</h2>
      <p class="text text--sm"><strong>Использование аналитических платформ</strong></p>
      <p class="text text--sm">При наличии согласия Пользователя Правообладатель использует аналитическую платформу Яндекс.Метрика для:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>отслеживания частоты посещаемости сайта Пользователями;</li>
        <li>отслеживания способов использования Пользователем Сайта и/или его контента;</li>
        <li>выявления типа и вида контента, который является популярным среди Пользователей;</li>
        <li>определения общего места нахождения Пользователя.</li>
      </ol>
      <p class="text text--sm">Согласие на использование Яндекс.Метрики запрашивается отдельно через cookie-баннер на сайте.</p>
      <p class="text text--sm">Для указанных целей аналитическая платформа Яндекс.Метрика может собирать данные об IP адресе, геолокации, поведении Пользователя, а также его предпочтениях и интересах в отношении определенного контента.</p>
      <p class="text text--sm">Обработка персональных данных российских пользователей осуществляется с соблюдением требований локализации в соответствии с 242-ФЗ. При трансграничной передаче данных Роскомнадзор уведомлен в установленном порядке.</p>
      <p class="text text--sm">С момента предоставления согласия Пользователь соглашается с политикой конфиденциальности (Privacy Policy) аналитической платформы Яндекс.Метрика.</p>
      <p class="text text--sm">Пользователь может отозвать согласие на использование Яндекс.Метрики в любой момент через настройки cookie на сайте.</p>

      <h2 class="heading heading--h2 heading--paddingTop-30">6. РАЗМЕЩЕНИЕ РЕКЛАМЫ</h2>
      <p class="text text--sm"><strong>Реклама на Сайте</strong></p>
      <p class="text text--sm">Правообладатель в настоящее время не размещает персонализированную рекламу на Сайте. В случае размещения рекламы в будущем будет получено отдельное согласие пользователей.</p>

      <h2 class="heading heading--h2 heading--paddingTop-30">7. НАПРАВЛЕНИЕ ЖАЛОБ И ЗАПРОСОВ ПРАВООБЛАДАТЕЛЮ</h2>
      <p class="text text--sm"><strong>Требование о прекращении обработки персональных данных</strong></p>
      <p class="text text--sm">Каждый Пользователь имеет право выразить свое возражение Правообладателю против обработки и/или хранения его Персональных данных. Такое возражение может быть выражено следующим образом:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>по электронной почте: kirovdt@mail.ru с указанием в теме письма "Отзыв согласия на обработку ПДн"</li>
        <li>Правообладатель обязуется рассмотреть запрос в течение 30 дней</li>
      </ol>
      <p class="text text--sm"><strong>Запрос на получение информации о персональных данных</strong></p>
      <p class="text text--sm">Если у Пользователя возникают вопросы, связанные с порядком применения или использования настоящей Политики, порядком и/или способом обработки Персональных данных, Пользователь может задать такой вопрос следующим образом:</p>
      <p class="text text--sm">по электронной почте: kirovdt@mail.ru с указанием в теме письма "Запрос о персональных данных"</p>
      <p class="text text--sm"><strong>Изменение (обновление, дополнение, корректировка) или удаление персональных данных</strong></p>
      <p class="text text--sm">Пользователь имеет право в любой момент изменить или удалить Персональные данные посредством направления специального запроса Правообладателю по следующему адресу: <span id="span_id_адрес_удаление">kirovdt@mail.ru</span>.</p>
      <p class="text text--sm">Правообладатель имеет право отказать в изменении или удалении Персональных данных, если такие действия приведут к:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>нарушению правил настоящей Политики;</li>
        <li>нарушению Закона;</li>
        <li>ситуации, когда характер Персональных данных является доказательством в каком-либо судебном процессе, возникшем между Правообладателем и Пользователем.</li>
      </ol>

      <h2 class="heading heading--h2 heading--paddingTop-30">8. СРОКИ И ПОРЯДОК ХРАНЕНИЯ ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
      <p class="text text--sm">Хранение персональных данных граждан Российской Федерации осуществляется на территории Российской Федерации в соответствии с требованиями 242-ФЗ.</p>
      <p class="text text--sm">Хранение осуществляется в течение всего срока, необходимого для достижения заявленных целей обработки Персональных данных, но не более 3 лет с момента последнего взаимодействия с Пользователем.</p>
      <p class="text text--sm">Правообладатель обязуется немедленно после достижения целей обработки Персональных данных или истечения срока хранения уничтожить их или обезличить.</p>

      <h2 class="heading heading--h2 heading--paddingTop-30">9. ДОСТУП НЕСОВЕРШЕННОЛЕТНИХ К САЙТУ</h2>
      <p class="text text--sm">Сайт может быть использован лицами в возрасте до 18 лет.</p>
      <p class="text text--sm">Для пользователей в возрасте до 14 лет обработка персональных данных (включая установку аналитических cookies) возможна только с согласия их законных представителей.</p>
      <p class="text text--sm">Для пользователей в возрасте от 14 до 18 лет согласие на обработку персональных данных может быть дано самостоятельно.</p>
      <p class="text text--sm">Если несовершеннолетний Пользователь не может предоставить согласие на обработку его Персональных данных от законного представителя (при необходимости), в таком случае такой Пользователь обязан немедленно прекратить использование Сайта.</p>

      <h2 class="heading heading--h2 heading--paddingTop-30">10. ПОРЯДОК ЗАЩИТЫ ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
      <p class="text text--sm">Защита конфиденциальности Персональных данных является первостепенной и важной задачей для Правообладателя. Правообладатель придерживается всех требований российского законодательства о защите персональных данных.</p>
      <p class="text text--sm">Правообладатель внедрил ряд технических и организационных методов, направленных на защиту Персональных данных от разглашения или несанкционированного доступа к ним третьих лиц.</p>

      <h2 class="heading heading--h2 heading--paddingTop-30">11. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h2>
      <p class="text text--sm"><strong>Доступность текста политики для ознакомления</strong></p>
      <p class="text text--sm">Пользователи могут ознакомиться с условиями данной Политики по следующей ссылке: <span id="span_id_ссылка_политика">domizkleenogobrusa.ru/policy/</span>.</p>
      <p class="text text--sm">Данная редакция Политики действует с <span id="span_id_date">16 октября 2025 года</span>.</p>
      <p class="text text--sm"><strong>Изменение и дополнение политики</strong></p>
      <p class="text text--sm">Настоящая Политика может быть изменена время от времени. О существенных изменениях Правообладатель обязуется информировать пользователей путем размещения уведомления на главной странице сайта не менее чем за 10 дней до вступления изменений в силу.</p>
      <p class="text text--sm"><strong>Применимое законодательство</strong></p>
      <p class="text text--sm">Настоящая Политика разработана в соответствии с действующим законодательством о защите персональных данных Российской Федерации, в частности, с нормами Федерального закона от 27 июля 2006 года № 152-ФЗ "О персональных данных" (со всеми дополнениями и изменениями), Федерального закона от 21 июля 2014 года № 242-ФЗ "О внесении изменений в отдельные законодательные акты Российской Федерации в части уточнения порядка обработки персональных данных в информационно-телекоммуникационных сетях" (со всеми дополнениями и изменениями).</p>
    </div>
  </article>
</section>
<!-- {% endblock content %} -->

  </body>
</html>